<!-- Heredando de base -->

{% extends "pagina1app/base.html" %} {% load static %} {% block content %}

<header

  style="background-color: white;"
  <meta
  http-equiv="content-type"
  content="text/html; charset=windows-1252">
  <br>
  <h1 style="text-align:center;">¡Adoptanos!</h1>
  <br>
  <hr>

  <div class="container-fluid">
    <div class="row">
      {% for p in registro %}
        {% if p.foto_mascota %}

          <div class="col-md-3">
            <div class="card" style="width: 18rem;">
              <img  alt="foto_mascota" src="{{ p.foto_mascota.url }}" height="30%"/>
              <hr>
              <div class="card-body">
                <h5 class="card-title">Nombre: {{ p.nombre_mascota | capfirst }}</h5>

                <p class="card-text">
                  Raza: {{ p.raza_mascota | capfirst }}
                  <br>
                  ID de la mascota: {{ p.id_mascota}}
                </p>

                {% if user.is_authenticated %}
                  <a href="{% url 'Formulario adopcion' %}" class="btn btn-primary">Adoptar</a>
                {% endif %}
                
              </div>
            </div>
          </div>

        {% endif %}
      {% endfor %}
    </div>
  </div>




</header>

{% endblock %}

<!-- Referencias -->

<!-- https://www.youtube.com/watch?v=90M4gunBRLs&t=174s&ab_channel=moisessepulveda -->

<!-- method = "post" es para que los datos no aparezcan en la url por cuestiones de seguridad -->
