<!-- Heredando de base -->
{% extends "pagina1app/base.html" %} {% load static %} {% block content %}
<header

  style="background-color: white;"

  <meta
    http-equiv="content-type"
    content="text/html; charset=windows-1252">
  </meta>


  {% load crispy_forms_tags %}

  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">

      <br>
      <h2>Regitro de mascotas</h2>
      <br>

      <form class=" " action=" " method="post" enctype="multipart/form-data">



        {% csrf_token %}

        {{ form.as_p }}

        <!--<label>Foto de la mascota</label>-->
        <!--<input type="file" name="txtImagen" id="txtImagen">-->
        <br>

        <div class="d-flex justify-content-end">
          <input type="reset" class="btn btn-secondary" value="Cancelar">
          &nbsp;
          <button type="submit" id="btnEnviar" class="btn btn-primary">Enviar</button>
        </div>


      </form>
      {{mensaje}}
    </div>
  </div>

  <table id="tablacontacto">

  </table>


{% endblock %}










<!--{{ form.as_p }}-->
